<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Xmas Mailer</title>

		<style>
			body {
				font-family: verdana, sans-serif;
				font-size: 14px;
				background-color: rgba(255, 200, 0, 0.5);
				color: rgba(255, 100, 0, 0.8);
			}

			h1 {
				text-align: center;
			}

			form {
				width: 22em;
				height: 12em;
				padding: 1em;
				display: block;
				margin: 0 auto 0 auto;
				background-color: rgba(255, 200, 0, 0.5);
			}

			label {
				display: inline-block;
				margin-top: 0.5em;
				font-weight: bold;
			}

			.labelText {
				display: inline-block;
				width: 5em;
				margin-right: 1em;
				float: left;
			}

			input, select, textarea {
				border-radius: 5px;
				width: 15em;
				height: 1.5em;
				border: 2px solid rgb(100, 100, 100);
			}

			textarea {
				height: 5em;
			}

			button {
				display: inline-block;
				width: 3em;
				float: right;
			}
		</style>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>