<h1>Welcome to Teochew Thunder's Xmas Mailer. Email a friend!</h1>
<form action="/process" method="POST">
	<input type="hidden" name="_csrf" value="{{ csrf }}" />
	<label for="ddlLayout">
		<span class="labelText">LAYOUT</span>
		<select id="ddlLayout" name="ddlLayout">
			<option value="red">RED</option>
			<option value="green">GREEN</option>
			<option value="blue">BLUE</option>
		</select>
	</label>

	<br />

	<label for="txtEmail">
		<span class="labelText">EMAIL</span>
		<input id="txtEmail" name="txtEmail" type="email" placeholder="john12345@gmail.com" required />
	</label>

	<br />

	<label for="txtMessage">
		<span class="labelText">MESSAGE</span>
		<textarea id="txtMessage" name="txtMessage" required></textarea>
	</label>

	<br />

	<button>Go</button>
</form>